doctype 5
html
	head
		block title
			title Move
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		
		block zepto
			script(type='text/javascript', src='/js/zepto.min.js')
		
		if process.env.NODE_ENV == 'development'
			//link(rel='stylesheet', href='/css/bootstrap.min.css')
			//link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
			link(rel='stylesheet', href='/css/style.css')
			//script(type='text/javascript', src='/js/jquery.min.js')
			
			//script(type='text/javascript', src='/js/bootstrap.min.js')
			script(type='text/javascript', src='/js/underscore-min.js')
			script(type='text/javascript', src='/js/moment.min.js')
		else
			include ../public/css/style.css
			//link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css')
			//script(type='text/javascript', src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')
			script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
			script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js')
			
		//link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")
		
				
		
		block scripts
			
	body
		script#player_tpl(type='text/template').
			<a href='/u/<%=user.id%>' class='user <%= arguments[0].clazz ? clazz : '' %>'>
				<span class='name'><%= user.nickname %></span>
				<span class='title'><%= player_titles[user.title] %></span>
			</a>
		script.
			function lingua_tpl(str){return _.chain(str).unescape().template().value();}
			simple_tpl = function(selector){return _.chain($(selector).html()).unescape().template().value();}
			player_titles = JSON.parse(_.unescape('#{JSON.stringify( _.chain(player_titles).map(function(x){return [x, lingua['title_' + x]];}).object().value() )}'));
			player_tpl = simple_tpl('#player_tpl');
			function tpl(selector){
				if(!window._tpls) window._tpls = {}
				if(_tpls[selector]) return _tpls[selector];
				return _tpls[selector] = _.bind(simple_tpl(selector), {_:_, tpl:tpl, lingua_tpl:lingua_tpl, player_titles:player_titles, player_tpl:player_tpl});
			}
			time_str = function(ts){
				ts = Number(ts);
				diff = new Date().getTime()/1000 - ts;
				
				if(diff >= 0 && diff < 60 * 60)
					return _.chain('#{lingua.time_str1}').unescape().template({m:Math.ceil(diff/60)}).value();
				else if(diff > 0 && diff < 60 * 60 * 24)
					return _.chain('#{lingua.time_str2}').unescape().template({m:Math.ceil(diff/(60*60))}).value();
				else if(diff > 0 && diff < 60 * 60 * 24 * 4)
					return _.chain('#{lingua.time_str3}').unescape().template({m:Math.ceil(diff/(60*60*24))}).value();
				else if(new Date().getFullYear() + '' == moment(ts*1000).format('YYYY'))
					return moment(ts*1000).format('MM/DD');
				return moment(ts*1000).format('YYYY/MM/DD');
			}
			setInterval(function(){
				$('.ts').each(function(i, e){
					if($(e).attr('ts')) $(e).text(time_str($(e).attr('ts')));
				});
			}, 1000*60);
			
		include header
		block content
		a#go2top: i
		include footer
		include ../public/js/go2top.js			