doctype 5
html
	head
		link(rel='stylesheet', href='/css/test.css')
		link(rel='stylesheet', href='/css/users_list.css')
		script(type='text/javascript', src='/js/zepto.min.js')
		script(type='text/javascript', src='/js/underscore-min.js')
		script(type='text/javascript', src='/js/BoardCanvas.js')
		style.
			body > div{float:left;margin-left:20px;}
	body
		.thumb
			a: img(src='http://www.tmtpost.com/wp-content/uploads/2013/08/137623521181-560x370.png')
		
		#drop-shadow.drop-shadow drop shadow effect
		
		.black
		.white
		
		#rolling-wrap
			#rolling
				img(src='http://webstuffshare.com/demo/CubeInformation/images/contact.png')
				span.info
					strong Contact Form
					| The easiest way to add a contact form to your shop.
		
		.cube
			ul.faces.show-left
				li.front 1
				li.left 2
				li.top 3
				li.right 4
				li.back 5
				li.bottom 6
		
		#users_list
		include tpls/users_list_tpl
		
		
		
		- console.timeEnd('a');
		script.
			tpl = function(selector){return _.chain($(selector).html()).unescape().template().value();}
			lingua_tpl = function(str){return _.chain(str).unescape().template().value();}
			player_titles = JSON.parse(_.unescape('#{JSON.stringify( _.chain(player_titles).map(function(x){return [x, lingua['title_' + x]];}).object().value() )}'));
			player_tpl = tpl('#player_tpl');
			
			$('#users_list').append(tpl('#users_list_tpl')({users:[{id:'u1',nickname:'roadking',title:'J', num:3},{id:'u2',nickname:'ab',title:'B', num:4},{id:'u3',nickname:'sssss',title:'J', num:6},{id:'u4',nickname:'jjdj888',title:'I', num:12},{id:'u5',nickname:'Nobody',title:'J', num:100}]}));
			
			$(function(){
				$('.cube li').each(function(i, e){
					$(e).empty();
					new BoardCanvas($(e), {size:200}).render([{player:'black',n:0,pos:[3,3]}]);
				});
			});