show-front()
	vendor('transform', translateZ(calc(0px \- size \/ 2)))
show-back()
	vendor('transform', translateZ(calc(0px \- size \/ 2)) rotateX( -180deg ))
show-right()
	vendor('transform', translateZ(calc(0px \- size \/ 2)) rotateY( -90deg ))
show-left()
	vendor('transform', translateZ(calc(0px \- size \/ 2)) rotateY( 90deg ))
show-top()
	vendor('transform', translateZ(calc(0px \- size \/ 2)) rotateX( -90deg ))
show-bottom()
	vendor('transform', translateZ(calc(0px \- size \/ 2)) rotateX( 90deg ))
cube(size, border_width)
	.cube
		width: calc(size \+ border_width \* 2);
		height: calc(size \+ border_width \* 2);
		position: relative;
		margin: 20px auto 40px;
		//border: 1px solid #CCC;
		vendor('perspective', 1000px)
		ul.faces
			width 100%
			height 100%
			position absolute
			vendor('transform-style', preserve-3d)
			list-style none
			margin 0
			padding 0
			display block
			vendor('perspective-origin', 50% 50%)
			vendor('backface-visibility', hidden)
			vendor('animation-name', rolling-cube)
			vendor('animation-duration', 5s)
			vendor('animation-iteration-count', infinite)
			//vendor('animation-direction', alternate)
			li
				display block
				position absolute
				width size
				height size
				border border_width solid black
				line-height size
				text-align center
				vendor('backface-visibility', hidden)
				border-radius 5px
			li.front
				vendor('transform', translateZ(calc(size \/ 2)))
			li.back
				vendor('transform', rotateX(180deg) translateZ(calc(size \/ 2)))
			li.top
				vendor('transform', rotateX(90deg) translateZ(calc(size \/ 2)))
			li.bottom
				vendor('transform', rotateX(-90deg) translateZ(calc(size \/ 2)))
			li.left
				vendor('transform', rotateY(-90deg) translateZ(calc(size \/ 2)))
			li.right
				vendor('transform', rotateY(90deg) translateZ(calc(size \/ 2)))
		ul.faces.show-front
			show-front()
		ul.faces.show-back
			show-back()
		ul.faces.show-right
			show-right()
		ul.faces.show-left
			show-left()
		ul.faces.show-top
			show-top()
		ul.faces.show-bottom
			show-bottom()
	
	@keyframes rolling-cube
		0%
			show-front()
		13%
			show-front()
		16.7%
			show-left()
		29.7%
			show-left()
		33.4%
			show-top()
		46.4%
			show-top()
		50.1%
			show-right()
		63.1%
			show-right()
		66.8%
			show-back()
		79.8%
			show-back()
		83.5%
			show-bottom()
		96.5%
			show-bottom()
		100%
			show-front()

