#wrap-foot
	background-color #333
	padding 2em
	footer
		color #ccc
		max-width 1320px
		margin 0 auto
		a
			color #ccc
			text-decoration none
			display inline-block
			padding .5em 1em
		h2
			font-size 1.1em
			font-weight normal
			line-height 30px
			margin 0 0 .35em 0
		.content
			font-size .9em
		section
			width 25%
			display inline-block