#header_banner {
  background-color: #fcdd4e;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px dotted #fff;
}
#header_banner ul.nav {
  vertical-align: middle;
  margin: 0;
}
#header_banner ul.nav a {
  color: #000;
  font-weight: bold;
}
#header_banner ul.nav a:hover {
  background-color: #53595e;
  color: #fffcf7;
}
