#header_banner
	background-color #fcdd4e
	padding 10px 0
	margin-bottom 20px
	border-bottom 1px dotted white
	ul.nav
		vertical-align middle
		margin 0
		a
			color black
			font-weight bold
			&:hover
				background-color #53595e
				color #fffcf7
			