body > header
	border-bottom 1px dotted white
	nav
		nav_height = 52px
		height nav_height
		background-color #4a4a4a
		#logo
			float left
			width 230px
			background-color #428bca
			overflow hidden
			font-size 18px
			font-weight bold
			color #fff
			display inline-block
			text-align center
			text-decoration none
			line-height nav_height
			letter-spacing 1em
		ul.nav
			display block
			float left
			font-size 14px
			margin 0
			list-style none
			li
				float left
				a
					color #eee
					text-decoration none
					padding 0 20px
					height nav_height
					line-height nav_height
					display block
					font-weight bold
					overflow hidden
					
					&:hover
						background-color #72d0eb
						color #fff
				a#home, a#dapu
					letter-spacing .4em
			li.active
				a
					background-color #72d0eb
					color #000
			
				