#history
	min-height 600px
	margin-bottom 4em
	#rate-chart
		height 250px
		margin-bottom 30px

	#records
		width 80%
		margin 0 auto
		table
			th
				text-align left
				
			tr
				height 1.8em
			td.black, td.white
				width 10em
			td.result
				width 12em
			td.rate
				width 6em
			td.ts
				width 10em
			.win
				background-color hsl(120, 90%, 85%)
			.loss
				background-color hsl(0, 90%, 85%)
			.draw
				background-color hsl(45, 90%, 85%)