#new_game
	width 80%
	margin 150px auto 200px auto
	
	ul
		list-style none
		display inline-block
		padding 0
		li
			margin 1em 0
			& > label
				vertical-align top
				width 6em
				display inline-block
			.inputs
				display inline-block
				label
					height 2em
					display inline-block
	input[type=submit]
		border 4px double #226fbe
		border-radius 15px
		padding 25px 40px
		cursor pointer
		display inline-block
		font-weight bold
		background-color #226fbe
		color white
		font-size 3em
		vertical-align top
		margin-top 30px
		margin-left 30px
		&:hover
			background transparent
			color #226fbe