body {
  margin: 0;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 23px;
  font-size: 18px;
  color: #555;
  overflow-x: hidden;
  background-color: #f5f5f5;
  -webkit-background-size: 20px 20px;
  -moz-background-size: 20px 20px;
  -ms-background-size: 20px 20px;
  -o-background-size: 20px 20px;
  background-size: 20px 20px;
  background-image: -webkit-linear-gradient(45deg, #fffafa 25%, transparent 25%, transparent), -webkit-linear-gradient(-45deg, #fffafa 25%, transparent 25%, transparent), -webkit-linear-gradient(45deg, transparent 75%, #fffafa 75%), -webkit-linear-gradient(-45deg, transparent 75%, #fffafa 75%);
  background-image: -moz-linear-gradient(45deg, #fffafa 25%, transparent 25%, transparent), -moz-linear-gradient(-45deg, #fffafa 25%, transparent 25%, transparent), -moz-linear-gradient(45deg, transparent 75%, #fffafa 75%), -moz-linear-gradient(-45deg, transparent 75%, #fffafa 75%);
  background-image: -o-linear-gradient(45deg, #fffafa 25%, transparent 25%, transparent), -o-linear-gradient(-45deg, #fffafa 25%, transparent 25%, transparent), -o-linear-gradient(45deg, transparent 75%, #fffafa 75%), -o-linear-gradient(-45deg, transparent 75%, #fffafa 75%);
  background-image: linear-gradient(45deg, #fffafa 25%, transparent 25%, transparent), linear-gradient(-45deg, #fffafa 25%, transparent 25%, transparent), linear-gradient(45deg, transparent 75%, #fffafa 75%), linear-gradient(-45deg, transparent 75%, #fffafa 75%);
}
#wrap-foot {
  background-color: #333;
  padding: 2em;
}
#wrap-foot footer {
  color: #ccc;
  max-width: 1320px;
  margin: 0 auto;
}
#wrap-foot footer a {
  color: #ccc;
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1em;
}
#wrap-foot footer h2 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 30px;
  margin: 0 0 0.35em 0;
}
#wrap-foot footer .content {
  font-size: 0.9em;
}
#wrap-foot footer section {
  width: 25%;
  display: inline-block;
}
#form-signin,
#form-register {
  max-width: 300px;
  background-color: #fff;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  -ms-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  -o-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
#form-signin input + input,
#form-register input + input {
  margin-top: 6px;
}
a#logo {
  display: block;
  padding: 5px;
  margin: 100px 0 40px 0;
}
#otherwise {
  margin-top: 30px;
}
#otherwise a#register,
#otherwise a#login {
  text-decoration: underline;
}
.container {
  min-height: 600px;
}
h1 {
  font-size: 2.2em;
  font-weight: normal;
  margin: 40px 0;
}
