header {
  border-bottom: 1px dotted #fff;
}
header nav {
  height: 52px;
  background-color: #4a4a4a;
}
header nav #logo {
  float: left;
  width: 230px;
  background-color: #428bca;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 52px;
}
header nav ul.nav {
  display: block;
  float: left;
  font-size: 14px;
  margin: 0;
  list-style: none;
}
header nav ul.nav li {
  float: left;
}
header nav ul.nav li a {
  color: #eee;
  text-decoration: none;
  padding: 0 20px;
  height: 52px;
  line-height: 52px;
  display: block;
  font-weight: bold;
  overflow: hidden;
}
header nav ul.nav li a:hover {
  background-color: #72d0eb;
  color: #fff;
}
header nav ul.nav li.active a {
  background-color: #72d0eb;
  color: #000;
}
header #login-or-register {
  background: #f7f7f7;
  border: 1px solid #bbb;
}
header #login-or-register a {
  width: 40%;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  height: 80px;
  line-height: 80px;
}
header #login-or-register a span {
  vertical-align: middle;
  padding: 5px;
  display: inline-block;
}
#wrap-foot {
  background-color: #333;
  padding: 5px 0 10px 0;
}
#wrap-foot footer {
  color: #ccc;
  max-width: 1320px;
  margin: 0 auto;
}
#wrap-foot footer h2 {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 30px;
}
#wrap-foot footer .content {
  font-size: 0.9em;
}
#wrap-foot footer section {
  width: 25%;
  display: inline-block;
}
body {
  margin: 0;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 23px;
  font-size: 18px;
  color: #555;
  background-color: #eee;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
ul li {
  display: inline-block;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
.in-range {
  overflow: hidden;
}
.in-range > div {
  display: inline-block;
  vertical-align: top;
  margin-bottom: -10000px;
  padding-bottom: 10000px;
}
a.user {
  text-decoration: none;
}
#gaming-board {
  width: 600px;
  background-color: #ccc;
}
#gaming-board canvas {
  display: block;
  margin: 0;
  border: 1px solid rgab(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-color: #fff;
}
#gaming-board canvas.your_turn {
  border: 1px solid #f00;
}
#gaming-board ul.stones li {
  list-style: none;
}
#gaming-board ul.stones .black,
#gaming-board ul.stones .white {
  width: 23px;
  height: 23px;
  -webkit-border-radius: 12.5px;
  -moz-border-radius: 12.5px;
  -ms-border-radius: 12.5px;
  -o-border-radius: 12.5px;
  -webkit-border-radius: 12.5px;
  -moz-border-radius: 12.5px;
  border-radius: 12.5px;
  border: 1px solid #000;
  position: absolute;
  text-align: center;
  text-indent: -99999px;
}
#gaming-board ul.stones .black {
  background-color: #0f1926;
  color: #fff;
}
#gaming-board ul.stones .white {
  background-color: #fffcf7;
  color: #000;
}
#gaming-board ul.stones .show_num {
  text-indent: 0;
}
#gaming-board ul.stones .selected.dead {
  -webkit-box-shadow: -2px 3px 13px #f00 !important;
  -moz-box-shadow: -2px 3px 13px #f00 !important;
  -ms-box-shadow: -2px 3px 13px #f00 !important;
  -o-box-shadow: -2px 3px 13px #f00 !important;
  box-shadow: -2px 3px 13px #f00 !important;
}
#gaming-board ul.stones .selected.live {
  -webkit-box-shadow: -2px 3px 13px #00ff80 !important;
  -moz-box-shadow: -2px 3px 13px #00ff80 !important;
  -ms-box-shadow: -2px 3px 13px #00ff80 !important;
  -o-box-shadow: -2px 3px 13px #00ff80 !important;
  box-shadow: -2px 3px 13px #00ff80 !important;
}
#gaming-board ul.stones .live {
  -webkit-box-shadow: 0 0 13px #006400;
  -moz-box-shadow: 0 0 13px #006400;
  -ms-box-shadow: 0 0 13px #006400;
  -o-box-shadow: 0 0 13px #006400;
  box-shadow: 0 0 13px #006400;
}
#gaming-board ul.stones .dead {
  -webkit-box-shadow: 0 0 13px #f00;
  -moz-box-shadow: 0 0 13px #f00;
  -ms-box-shadow: 0 0 13px #f00;
  -o-box-shadow: 0 0 13px #f00;
  box-shadow: 0 0 13px #f00;
}
#gaming-board ul.stones .disagree {
  -webkit-box-shadow: 0 0 13px #ffc800;
  -moz-box-shadow: 0 0 13px #ffc800;
  -ms-box-shadow: 0 0 13px #ffc800;
  -o-box-shadow: 0 0 13px #ffc800;
  box-shadow: 0 0 13px #ffc800;
}
#gaming-board ul.stones .repealed {
  display: none;
}
#gaming-board ul.stones .black.last {
  -webkit-box-shadow: inset 0 0 0 3px rgba(255,255,255,0.5);
  -moz-box-shadow: inset 0 0 0 3px rgba(255,255,255,0.5);
  -ms-box-shadow: inset 0 0 0 3px rgba(255,255,255,0.5);
  -o-box-shadow: inset 0 0 0 3px rgba(255,255,255,0.5);
  box-shadow: inset 0 0 0 3px rgba(255,255,255,0.5);
}
#gaming-board ul.stones .white.last {
  -webkit-box-shadow: inset 0 0 0 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0 0 3px rgba(0,0,0,0.5);
  -ms-box-shadow: inset 0 0 0 3px rgba(0,0,0,0.5);
  -o-box-shadow: inset 0 0 0 3px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 0 3px rgba(0,0,0,0.5);
}
#toolbox {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 50px;
  text-align: left;
}
#toolbox #num_btn i {
  padding: 0px 16px;
  background: url("/img/icons.svg") no-repeat;
  background-position: 0 -16px;
}
#toolbox #num_btn.show_num i {
  background-position: 0 0;
}
#toolbox a {
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#toolbox a:hover {
  background-color: #a8ceff;
  text-decoration: none;
}
#toolbox a.invalid {
  color: #aaa;
  cursor: auto;
}
#toolbox a#back.invalid,
#toolbox a#forward.invalid,
#toolbox a#beginning.invalid,
#toolbox a#ending.invalid {
  background-color: #aaa;
}
#bulletin {
  font-size: 18px;
  background-color: rgba(237,190,200,0.8);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  min-height: 120px;
  margin-bottom: 50px;
  width: 100%;
  display: table;
}
#bulletin > * {
  vertical-align: middle;
  display: table-cell;
}
#bulletin a {
  cursor: pointer;
  text-decoration: underline;
}
#bulletin #finishing {
  padding: 20px 10px;
}
#bulletin #finishing ul#regiments {
  display: block;
}
#bulletin #finishing ul#regiments li .guess {
  display: inline-block;
}
#bulletin #finishing ul#regiments li .guess a {
  text-decoration: none;
}
#bulletin #finishing ul#regiments li .guess a.selected {
  background-color: rgba(0,255,125,0.3);
  cursor: auto;
}
#bulletin #finishing ul#regiments li .guess a.opponent-selected {
  border: 1px solid #008000;
}
#bulletin #finishing ul#regiments li .guess a.default {
  background-color: rgba(0,125,255,0.3);
}
#bulletin #finishing ul#regiments li.disagree {
  border: 1px solid #000;
}
#game-view-outer {
  background: #fff;
}
#game-view-outer #game-view {
  display: inline-block;
  width: 60%;
  min-width: 600px;
  vertical-align: top;
}
#game-view-outer #game-view h1#game-caption {
  font-size: 16px;
  margin-left: 10%;
}
#game-view-outer #game-view #gaming-board {
  margin-left: 10%;
}
#game-view-outer #game-view a#details-link {
  padding: 3px;
  margin-left: 50px;
}
#game-view-outer #game-view #details {
  margin-top: 50px;
}
#game-view-outer aside {
  display: inline-block;
  width: 35%;
}
#u #heading h1 {
  font-size: 1.5em;
  font-weight: normal;
  display: inline-block;
  width: 40%;
}
#u #heading a.follow,
#u #heading a.unfollow {
  display: inline-block;
  border: 1px solid #808080;
  cursor: pointer;
  width: 70px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
#u #heading a.follow {
  background-image: url("/img/icons/follow.svg");
}
#u #heading a.unfollow {
  background-image: url("/img/icons/unfollow.svg");
}
#u #heading a.invite {
  margin-left: 10px;
  display: inline-block;
}
#u #heading a.invite img {
  height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#u #profile {
  background-color: #fafbfb;
  margin: 10px 0;
}
#u #profile #performance {
  padding: 5px 0 5px 15%;
  background-image: url("/img/icons/trophy.svg");
  background-repeat: no-repeat;
  background-size: 10% 100%;
  background-origin: padding-box;
}
#u #current {
  background-color: #fafbfb;
  padding: 30px 0;
}
#u #current ul li {
  width: 30%;
  vertical-align: top;
}
#u #current ul li .user {
  font-size: 1.1em;
  color: #000a00;
}
#u #current ul li .thumb {
  padding: 5px;
  margin: 5px 0;
}
#u #current ul li em {
  font-size: 1.2em;
  color: #1e90ff;
  text-align: right;
}
#home #attendings {
  background-color: #f7f7f7;
  padding: 5px 20px;
}
#home #attendings ul li {
  color: #48414a;
  font-size: 18px;
}
#home #attendings ul li .caption {
  line-height: 30px;
  margin-bottom: 10px;
  display: block;
}
#home #attendings ul li .thumb {
  display: block;
}
#home #attendings ul li + li {
  margin-left: 30px;
}
#home #pendings {
  margin-top: 30px;
  margin-bottom: 30px;
}
#home #pendings ul li {
  padding: 5px;
  width: 23%;
  border: 1px solid #bbb;
}
#home #pendings ul li .user {
  font-size: 1.4 m;
  font-weight: 100;
  padding: 5px 10px;
}
#home #pendings ul li .attend {
  display: block;
  padding: 10px 20px;
  margin-left: 20%;
  font-size: 1.4 m;
  color: #483c32;
}
#history #rate-chart {
  height: 250px;
  margin-bottom: 30px;
}
.player {
  font-weight: bold;
}
.title {
  margin-left: 2px;
  font-style: italic;
  font-size: 70%;
}
a.ref_user {
  color: #3542f2;
  margin: 0 4px;
  font-weight: bold;
}
a.ref_user:before {
  content: '@';
}
input.showable {
  border: 0;
  background-color: rgba(0,0,0,0);
  border-bottom: 1px dotted rgba(0,0,0,0.3);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: rgba(0,0,0,0) 0 0 0 0 inset;
  -moz-box-shadow: rgba(0,0,0,0) 0 0 0 0 inset;
  box-shadow: rgba(0,0,0,0) 0 0 0 0 inset;
}
input.showable:focus {
  border: 0;
}
#game-result {
  margin-left: 60px;
}
#seats {
  display: table;
  color: #483c32;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  top: 30%;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}
#seats .black,
#seats .white {
  height: 100px;
  margin-top: 100px;
  display: table;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  border: 4px solid #86bdaa;
}
#seats .black .nickname,
#seats .white .nickname {
  display: none;
}
#seats .taken {
  border: 4px solid rgba(0,0,0,0) !important;
}
#seats .taken .unknown {
  display: none;
}
#seats .taken .nickname {
  display: block !important;
  margin-left: 10%;
  margin-right: 5px;
}
#seats .black {
  background: rgba(255,255,255,0.7) url("/img/black.svg") no-repeat;
  background-position: 30% 10px;
}
#seats .white {
  background: rgba(255,255,255,0.7) url("/img/white.svg") no-repeat;
  background-position: 30% 10px;
}
#players {
  margin: 5px 0;
}
#players .player {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px 10px 10px 60px;
  text-align: left;
}
#players .player a {
  color: #acaaaf;
}
#players .player .title {
  display: block;
}
#players .player:hover {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
#players .player:hover a {
  color: #0d2b52;
  text-decoration: none;
}
#players .player.black {
  background: url("/img/black.svg") no-repeat;
  background-position: 10px 50%;
}
#players .player.black.next {
  background: rgba(69,203,170,0.3) url("/img/black.svg") no-repeat;
  background-position: 10px 50%;
}
#players .player.white {
  background: url("/img/white.svg") no-repeat;
  background-position: 10px 50%;
}
#players .player.white.next {
  background: rgba(69,203,170,0.3) url("/img/white.svg") no-repeat;
  background-position: 10px 50%;
}
#players .next {
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -ms-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -ms-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-animation-name: next-player;
  -moz-animation-name: next-player;
  -ms-animation-name: next-player;
  -o-animation-name: next-player;
  animation-name: next-player;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
#players .next a {
  color: #0f1926;
}
#comments .step {
  color: #a39383;
  margin: 0 4px;
}
#comments .step:before {
  content: "&";
}
#comments .ts {
  color: #c7cca9;
}
#comments .text .snapshot {
  cursor: pointer;
  text-decoration: none;
  margin: 0 3px;
}
#blogs {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fffcf7;
}
#blogs .blog + .blog {
  margin-top: 20px;
}
#blogs .blog {
  padding: 10px 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0);
}
#blogs .blog:hover {
  border: 1px solid #c3d5de;
}
#blogs .blog:hover .author {
  color: #62759e;
}
#blogs .blog:hover .del {
  color: #0f1926;
  display: inline-block;
  padding: 2px 8px;
  cursor: pointer;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#blogs .blog:hover .del:hover {
  background-color: #aaa;
  color: #fff;
}
#blogs .blog article .text {
  font-size: 16px;
  display: inline-block;
  width: 40%;
}
#blogs .blog article .attached {
  padding: 0 0 0 20px;
  display: inline-block;
  width: 50%;
  border-left: 10px dashed #fcfcca;
}
#blogs .blog .ts {
  font-size: 8px;
  color: #999;
}
#blogs .blog .author {
  font-size: 14px;
  font-weight: bold;
  color: #0f1926;
  margin-bottom: 5px;
  display: inline-block;
}
#blogs .blog .forwarded_blog {
  margin: 5px 20px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(238,232,171,0.4);
  -webkit-box-shadow: 3px 3px 1px 1px #c3d5de;
}
#blogs .blog .step {
  margin: 0 5px;
  font-weight: bold;
}
#blogs .blog .step:before {
  content: '&';
}
#blogs .blog .snapshots {
  display: inline-block;
}
#blogs .blog .snapshots .thumb {
  display: inline-block;
  margin-left: 10px;
}
#blogs #prev_blogs_btn {
  margin-top: 20px;
}
a#go2top {
  display: block;
  position: fixed;
  left: 90%;
  padding: 15px;
  top: 80%;
  cursor: pointer;
  background-color: rgba(222,166,129,0.5);
  -webkit-border-radius: 5px 20px;
  -moz-border-radius: 5px 20px;
  border-radius: 5px 20px;
}
.history[result=win] {
  background-color: #eee8ab;
}
.history[result=loss] {
  background-color: #d9d9d9;
}
.history {
  padding: 5px 0;
}
.history > * {
  display: inline-block;
}
.history .total_moves {
  margin: 0 5px;
  width: 60px;
}
.history .case {
  margin-left: 10px;
  width: 160px;
}
.history .seat {
  margin-left: 3px;
}
.history .seat:before {
  content: '(';
}
.history .seat:after {
  content: ')';
}
.history .result {
  float: right;
  margin-right: 20%;
}
@-moz-keyframes next-player {
  0% {
    font-size: 100%;
  }

  50% {
    font-size: 150%;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  100% {
    font-size: 100%;
  }
}
@-webkit-keyframes next-player {
  0% {
    font-size: 100%;
  }

  50% {
    font-size: 150%;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  100% {
    font-size: 100%;
  }
}
@-o-keyframes next-player {
  0% {
    font-size: 100%;
  }

  50% {
    font-size: 150%;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  100% {
    font-size: 100%;
  }
}
@-ms-keyframes next-player {
  0% {
    font-size: 100%;
  }

  50% {
    font-size: 150%;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  100% {
    font-size: 100%;
  }
}
@keyframes next-player {
  0% {
    font-size: 100%;
  }

  50% {
    font-size: 150%;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  100% {
    font-size: 100%;
  }
}
