//http://www.peise.net/2010/0911/1174.html
//http://disqus.com/
@import "header"
@import "footer"
body
	margin 0
	font-family "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif
	line-height 23px
	font-size 18px
	color #555
	background-color #eee
	overflow-x hidden

ul
	list-style none
	li
		display inline-block
		
.container
	max-width 1320px
	margin 0 auto
	
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args


.in-range
	overflow:hidden;
	& > div
		display inline-block
		vertical-align top
		margin-bottom -10000px
		padding-bottom 10000px

a.user
	text-decoration none

@import "game/connected"
@import "u"
@import "home/home"
@import "history"
box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments


.player
	font-weight bold

.title
	margin-left 2px
	font-style italic
	font-size 70%

a.ref_user
	color #3542f2
	margin 0 4px
	font-weight bold
	&:before
		content '@'


input.showable
	border 0
	background-color rgba(0,0,0,0)
	border-bottom 1px dotted rgba(0,0,0,.3)
	border-radius 0
	box-shadow rgba(0,0,0,0) 0 0 0 0 inset
	&:focus
		border 0

#game-result
	margin-left 60px
#seats
	display table
	color #483c32
	position fixed
	background-color rgba(0,0,0,.5)
	top 30%
	width 100%
	height 300px
	margin-bottom 30px
	
	.black, .white
		height 100px
		margin-top 100px
		display table
		border-radius 10px
		line-height 40px
		text-align center
		vertical-align middle
		border 4px solid #86bdaa
		.nickname
			display none
			
		
	.taken
		border 4px solid rgba(0,0,0,0) !important
		.unknown
			display none
		.nickname
			display block !important
			margin-left 10%
			margin-right 5px
	.black
		background rgba(255,255,255,.7) url(/img/black.svg) no-repeat
		background-position 30% 10px
	.white
		background rgba(255,255,255,.7) url(/img/white.svg) no-repeat
		background-position 30% 10px
	
#players
	margin 5px 0
	.player
		border-radius(10px)
		font-weight bold
		padding 10px 10px 10px 60px
		text-align left
		a
			color #acaaaf
		.title
			display block
		&:hover
			vendor('transform', scale(1.3))
			vendor('transition-property', all)
			vendor('transition-duration', .2s)
			vendor('transition-timing-function', ease)
			a
				color #0d2b52
				text-decoration none
				
				
	.player.black
		background url(/img/black.svg) no-repeat
		background-position 10px 50%
	.player.black.next
		background rgba(69,203,170,.3) url(/img/black.svg) no-repeat
		background-position 10px 50%
	.player.white
		background url(/img/white.svg) no-repeat
		background-position 10px 50%
	.player.white.next
		background rgba(69,203,170,.3) url(/img/white.svg) no-repeat
		background-position 10px 50%
	.next
		vendor('transition-property', background-color)
		vendor('transition-duration', 2s)
		vendor('animation-name', next-player)
		vendor('animation-duration', 1s)
		a
			color #0f1926

@keyframes next-player
	0%
		font-size 100%
	50%
		font-size 150%
		vendor('transform', rotate(30deg))
	100%
		font-size 100%

#comments
	.step
		color #a39383
		margin 0 4px
		&:before
			content "&"
	.ts
		color #c7cca9
	.text
		.snapshot
			cursor pointer
			text-decoration none
			margin 0 3px

#blogs
	padding-top 20px
	padding-bottom 20px
	background-color #fffcf7
	.blog + .blog
		margin-top 20px
	.blog
		padding 10px 30px
		border-radius 5px
		border 1px solid rgba(0,0,0,0)
		&:hover
			border 1px solid #c3d5de
			.author
				color #62759e
			.del
				color #0f1926
				display inline-block
				padding 2px 8px
				cursor pointer
				border-radius 30px
				&:hover
					background-color #aaa
					color white
		article
			.text
				font-size 16px
				display inline-block
				width 40%
			.attached
				padding 0 0 0 20px
				display inline-block
				width 50%
				border-left 10px dashed #fcfcca
		.ts
			font-size 8px
			color #999
		.author
			font-size 14px
			font-weight bold
			color #0f1926
			margin-bottom 5px
			display inline-block
		.forwarded_blog
			margin 5px 20px
			padding 5px
			border-radius 5px
			background-color rgba(238,232,171,.4)
			-webkit-box-shadow:3px 3px 1px 1px #c3d5de;
		.step
			margin 0 5px
			font-weight bold
			&:before
				content '&'
		.snapshots
			display inline-block
			.thumb
				display inline-block
				margin-left 10px
	.blog[_type=plain]
		//background-color #ebd549
	.blog[_type=forward]
		//background-color #d3977b
	.blog[_type=init_game]
		//background-color #d6b181
	.blog[_type=player_attend]
		//background-color #ffad81
	.blog[_type=game_comment]
		//background-color #b0c49f
	
	#prev_blogs_btn
		margin-top 20px
a#go2top
	display block
	position fixed
	left 90%
	padding 15px
	top 80%
	cursor pointer
	background-color rgba(222,166,129,.5)
	border-radius 5px 20px


.history[result=win]
	background-color #eee8ab
.history[result=loss]
	background-color #d9d9d9
.history
	padding 5px 0
	> *
		display inline-block
	.total_moves
		margin 0 5px
		width 60px
	.case
		margin-left 10px
		width 160px
	.seat
		margin-left 3px
		&:before
			content '('
		&:after
			content ')'
	.result
		float right
		margin-right 20%
	.ts
		//margin-left 10px
		//color #e5e7e6
