//http://www.peise.net/2010/0911/1174.html
//http://disqus.com/
@import "header"
@import "footer"
body
	margin 0
	font-family "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif
	line-height 23px
	font-size 18px
	color #555
	background-color #eee
	overflow-x hidden

ul
	list-style none
	margin 0
	padding 0
	li
		display inline-block
		
.container
	max-width 1320px
	margin 0 auto
	
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args


.in-range
	overflow:hidden;
	& > div
		display inline-block
		vertical-align top
		margin-bottom -10000px
		padding-bottom 10000px

a.user
	text-decoration none

@import "game/connected"
@import "u"
@import "home/home"
@import "history"
box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments




#seats
	display table
	color #483c32
	position fixed
	background-color rgba(0,0,0,.5)
	top 30%
	width 100%
	height 300px
	margin-bottom 30px
	
	.black, .white
		height 100px
		margin-top 100px
		display table
		border-radius 10px
		line-height 40px
		text-align center
		vertical-align middle
		border 4px solid #86bdaa
		.nickname
			display none
			
		
	.taken
		border 4px solid rgba(0,0,0,0) !important
		.unknown
			display none
		.nickname
			display block !important
			margin-left 10%
			margin-right 5px
	.black
		background rgba(255,255,255,.7) url(/img/black.svg) no-repeat
		background-position 30% 10px
	.white
		background rgba(255,255,255,.7) url(/img/white.svg) no-repeat
		background-position 30% 10px
	

#comments
	.step
		color #a39383
		margin 0 4px
		&:before
			content "&"
	.ts
		color #c7cca9
	.text
		.snapshot
			cursor pointer
			text-decoration none
			margin 0 3px

a#go2top
	display block
	position fixed
	left 90%
	padding 15px
	top 80%
	cursor pointer
	background-color rgba(222,166,129,.5)
	border-radius 5px 20px
	i
		background-image url(/img/icons/arrow3.svg)
		width 30px
		height 30px
		background-size 100%
		display block
		background-repeat no-repeat
		vendor('transform', rotate(-90deg))

.history[result=win]
	background-color #eee8ab
.history[result=loss]
	background-color #d9d9d9
.history
	padding 5px 0
	> *
		display inline-block
	.total_moves
		margin 0 5px
		width 60px
	.case
		margin-left 10px
		width 160px
	.seat
		margin-left 3px
		&:before
			content '('
		&:after
			content ')'
	.result
		float right
		margin-right 20%
	.ts
		//margin-left 10px
		//color #e5e7e6
