//http://www.peise.net/2010/0911/1174.html
//http://disqus.com/
body
	background-color #a8ceff
	
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args
	
box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments


.player
	font-weight bold

.title
	margin-left 2px
	font-style italic
	font-size 70%

a.ref_user
	color #3542f2
	margin 0 4px
	font-weight bold
	&:before
		content '@'


input.showable
	border 0
	background-color rgba(0,0,0,0)
	border-bottom 1px dotted rgba(0,0,0,.3)
	border-radius 0
	box-shadow rgba(0,0,0,0) 0 0 0 0 inset
	&:focus
		border 0

#game-result
	margin-left 60px
#seats
	display table
	color #483c32
	position fixed
	background-color rgba(0,0,0,.5)
	top 30%
	width 100%
	height 300px
	margin-bottom 30px
	
	.black, .white
		height 100px
		margin-top 100px
		display table
		border-radius 10px
		line-height 40px
		text-align center
		vertical-align middle
		border 4px solid #86bdaa
		.nickname
			display none
			
		
	.taken
		border 4px solid rgba(0,0,0,0) !important
		.unknown
			display none
		.nickname
			display block !important
			margin-left 10%
			margin-right 5px
	.black
		background rgba(255,255,255,.7) url(/img/black.svg) no-repeat
		background-position 30% 10px
	.white
		background rgba(255,255,255,.7) url(/img/white.svg) no-repeat
		background-position 30% 10px
	
#game-view-outer
	background-color #fffcf7
	#game-view
		//background-color #fffcf7
		padding 20px 0
aside
	padding 20px 0		

.board
	margin-top 20px
	.title
		.seat
			font-size 60%
			&:before
				content '('
			&:after
				content ')'
	canvas
		border 1px solid rgab(0,0,0,0)
		-webkit-tap-highlight-color rgba(0,0,0,0)
		background-color #e6d4c0 //#eee8aa
	canvas.your_turn
		border 1px solid red
		
#players
	margin 5px 0
	.player
		border-radius(10px)
		font-weight bold
		padding 10px
		text-align left
		a
			color #acaaaf
		.title
			display block
		&:hover
			a
				color #0d2b52
				text-decoration none
	.player.black
		&:before
			content: ' '
			height 30px
			width 30px
			background url(/img/black.svg) no-repeat
			
	.player.white
		&:before
			content: ' '
			height 30px
			width 30px
			background url(/img/white.svg) no-repeat
		
	.next
		background-color rgba(69,203,170,.3)
		a
			color #0f1926
#toolbox
	border-radius(10px)
	background-color #f8efd8
	text-align left
	margin-top 20px
	padding 5px
	#num_btn
		i
			padding 0px 16px
			background url(/img/icons.svg) no-repeat
			background-position 0 -16px
	#num_btn.show-number
		i
			background-position 0 0
	a
		display inline-block
		padding 15px
		cursor pointer
		border-radius(10px)
		&:hover
			background-color #a8ceff
			text-decoration none
#game-notice
	text-decoration underline
	font-size 18px
	background-color rgba(237, 190, 200, .8)
	border-radius(10px)
	text-align center
	height 120px
	margin-bottom 50px
	width 100%
	display table
	p
		vertical-align middle
		display table-cell

#pendings
	margin-top 30px
	margin-bottom 30px
	.view
		display block
		background-color rgba(0,0,0,.4)
		color white
		border-top-left-radius 5px
		border-top-right-radius 5px
		padding 5px
		text-align center
		height 40px
		text-decoration none
		&:hover
			outline:#00FF00 dotted 1px
	.attend
		color white
		text-decoration none
		padding 5px
		font-weight bold
		height 20px
		display block
		background-color rgba(0,0,0,.2)
		text-align center
		border-bottom-left-radius 5px
		border-bottom-right-radius 5px
		&:hover
			color #008573

#user-games
	margin-top 30px
	margin-bottom 30px
	padding-bottom 10px
	.item
		padding 5px 0
		border 5px solid rgba(0,0,0,0)
		border-radius 5px
		.ts, .opponent
			margin-left 10px
		&:hover
			//background-color #fff4b0
			border-color #c3d5de
		.status
			margin-left 10px
			font-style italic

#live
	#live_board
		display none

#comments
	.step
		color #a39383
		margin 0 4px
		&:before
			content "&"
	.ts
		color #c7cca9
	.text
		.snapshot
			cursor pointer
			text-decoration none
			margin 0 3px

#blogs
	padding-top 20px
	padding-bottom 20px
	background-color #fffcf7
	.blog + .blog
		margin-top 20px
	.blog
		padding 10px 30px
		border-radius 5px
		border 1px solid rgba(0,0,0,0)
		&:hover
			border 1px solid #c3d5de
			.author
				color #62759e
			.del
				color #0f1926
				display inline-block
				padding 2px 8px
				cursor pointer
				border-radius 30px
				&:hover
					background-color #aaa
					color white
		article
			.text
				font-size 16px
				display inline-block
				width 40%
			.attached
				padding 0 0 0 20px
				display inline-block
				width 50%
				border-left 10px dashed #fcfcca
		.ts
			font-size 8px
			color #999
		.author
			font-size 14px
			font-weight bold
			color #0f1926
			margin-bottom 5px
			display inline-block
		.forwarded_blog
			margin 5px 20px
			padding 5px
			border-radius 5px
			background-color rgba(238,232,171,.4)
			-webkit-box-shadow:3px 3px 1px 1px #c3d5de;
		.step
			margin 0 5px
			font-weight bold
			&:before
				content '&'
		.snapshots
			display inline-block
			.thumb
				display inline-block
				margin-left 10px
	.blog[_type=plain]
		//background-color #ebd549
	.blog[_type=forward]
		//background-color #d3977b
	.blog[_type=init_game]
		//background-color #d6b181
	.blog[_type=player_attend]
		//background-color #ffad81
	.blog[_type=game_comment]
		//background-color #b0c49f
	
	#prev_blogs_btn
		margin-top 20px
a#go2top
	display block
	position fixed
	left 90%
	padding 15px
	top 80%
	cursor pointer
	background-color rgba(222,166,129,.5)
	border-radius 5px 20px

.thumb
	.title
		font-size 12px
		font-style italic
		color #62759e

.history[result=win]
	background-color #eee8ab
.history[result=loss]
	background-color #d9d9d9
.history
	padding 5px 0
	> *
		display inline-block
	.total_moves
		margin 0 5px
		width 60px
	.case
		margin-left 10px
		width 160px
	.seat
		margin-left 3px
		&:before
			content '('
		&:after
			content ')'
	.result
		float right
		margin-right 20%
	.ts
		//margin-left 10px
		//color #e5e7e6

#rate-chart
	height 250px
	margin-bottom 30px

.piece
	padding 10px 0
	border 2px dashed #d9eef2
	//border-radius 100px
	background-color #fffcf7
	margin-top 40px

#footer
	height 40px
	line-height 40px
	background-color #74b3b8
	text-align center
	margin-top 40px
	a
		display inline-block
		color #fff