#u
	#heading
		h1
			font-size 1.5em
			font-weight normal
			display inline-block
			width 40%
		a.follow, a.unfollow
			display inline-block
			border 1px solid grey
			cursor pointer
			width 70px
			height 30px
			background-repeat no-repeat
			background-position center
			background-size 100% 100%
			
		a.follow
			background-image url('/img/icons/follow.svg')
		a.unfollow
			background-image url('/img/icons/unfollow.svg')
		a.invite
			margin-left 10px
			display inline-block
			img
				height 30px
				border-radius 5px
	#profile
		background-color #fafbfb
		margin 10px 0
		#performance
			padding 5px 0 5px 15%
			background-image url('/img/icons/trophy.svg')
			background-repeat no-repeat
			background-size 10% 100%
			background-origin padding-box
		
	#current
		background-color #fafbfb
		padding 30px 0
		ul
			li
				width 30%
				vertical-align top
				.user
					font-size 1.1em
					color #000a00
				.thumb
					padding 5px
					margin 5px 0
				em
					font-size 1.2em
					color #1e90ff
					text-align right
	