#u
	min-height 600px
	a#logout
		border-bottom 1px solid #a2a3a2
		padding 1px 3px
		color #a2a3a2
		&:hover
			color black
			border-color black
	#heading
		h1
			margin-left 2em
			font-size 1.5em
			font-weight normal
			display inline-block
			width 40%
		a.follow, a.unfollow
			display inline-block
			border 1px solid grey
			cursor pointer
			width 70px
			height 30px
			background-repeat no-repeat
			background-position center
			background-size 100% 100%
			
		a.follow
			background-image url('/img/icons/follow.svg')
		a.unfollow
			background-image url('/img/icons/unfollow.svg')
		a.invite
			margin-left 10px
			display inline-block
			img
				height 30px
				border-radius 5px
		a#logout
			font-size .8em
			text-decoration none
	#profile
		background-color #fafbfb
		margin 10px 0
		#performance
			padding 5px 0 5px 40%
			background-image url('/img/icons/trophy.svg')
			background-repeat no-repeat
			//background-size 20% 100%
			background-position 2em 100%
			background-origin padding-box
		#view_history
			font-size 1.2em
			padding 13px 16px
			vendor('border-radius', 5px)
			background-color #226fbe
			color white
			text-decoration none
			display inline-block
	#current
		background-color #fafbfb
		padding 20px
		ul
			li
				width 30%
				margin-bottom 40px
				vertical-align top
				.user
					font-size 1.1em
					color #000a00
				.thumb
					padding 5px
					margin 5px 0
					display inline-block
				em
					font-size 1.2em
					color #1e90ff
					text-align right
	#recent_history
		padding 20px
		li
			width 20%
			display inline-block
			padding .5em 2em 1em .5em
			vendor('border-radius', 2px)
			margin 0 0 4px 0
			.ts
				display block
				font-size .9em
			a.view
				text-decoration none
				color hsl(100, 10%, 10%)
		.win
			background-color hsl(120, 90%, 85%)
		.loss
			background-color hsl(0, 90%, 85%)
		.draw
			background-color hsl(45, 90%, 85%)
		