ul
	li.hide
		span.player
		span.stones
		select.guess
			option(value='live')= lingua.guess_live
			option(value='dead')= lingua.guess_dead
		span.opponent_guess
	
script.
	//$('option[value="dead"]').attr("selected", true);