#toolbox
	div
		a#num_btn(status='show_num', _text=JSON.stringify(_.pick(lingua, 'show_num', 'hide_num')), title=lingua.show_num): i
	div
		a#back back
		a#forward forward
	div
		a#beginning first
		a#ending last
	div
		a#retract= lingua.retract
		a#call-finishing(title=lingua.finish_game_desc)= lingua.finish_game