extends ../layout

block title
	title 围棋教程

block content
	article#tutorial
		h1 围棋教程
		p 围棋是一种策略性两人棋类游戏，属琴棋书画四艺之一，历史悠久，相传尧帝造围棋教儿子稳其心性。它在很大程度上反应了中国汉族传统思想文化的精髓，也被认为是目前世界上最复杂的棋盘游戏之一。
		p 唐代日本遣唐使将围棋带回，此后围棋流行日本，受到更加深入的研究。被称为“昭和棋圣”的围棋大师吴清源，其父留学日本时痴迷围棋，归国时更带回了大量难得的日本棋书。当时正值民国，中国顶尖高手对阵日本高手，需获得对方让两子棋方可一战，差距可知。1965年当时中国围棋领军人物陈祖德执黑2又1/2子击败岩田达明，成为首位分先战胜日本九段的中国棋手。
		p 1995年马晓春战胜聂卫平获得第6届东洋证券杯冠军，这是中国棋手第一次获得围棋世界冠军，之后不久战胜小林光一夺得富士通杯世界冠军。马晓春再没有在国际赛事中有所斩获，以李昌镐为代表的韩国棋手崛起，他们更年轻，更有创意，使整个围棋水平提升到前所未有的高度。
		p "二十岁不成国手，终生无望"。今天的围棋以中韩两国的年轻棋手为最高水平，他们很可能也是整个围棋历史的最高水平。
		
		p: a(href='http://weiqi.tom.com/secondary/wskt/wskt_index.htm', target='_blank') 教程
		
		