#home
	#attendings
		background-color #f7f7f7
		padding 5px 20px
		ul
			li
				color #48414a
				font-size 18px
				.caption
					line-height 30px
					margin-bottom 10px
					display block
				.thumb
					display block
			li + li
				margin-left 30px
	
	#pendings
		margin-top 30px
		margin-bottom 30px
		ul
			li
				padding 5px
				width 23%
				border 1px solid #bbb
				.user
					font-size 1.4m
					font-weight 100
					padding 5px 10px
				.attend
					display block
					padding 10px 20px
					margin-left 20%
					font-size 1.4m
					color #483c32
	