#home-div
	min-height 600px
	#attendings
		background-color #f7f7f7
		padding 5px 20px
		ul
			li
				vertical-align top
				color #48414a
				font-size 18px
				width 200px
				margin 0 30px 30px 0
				.caption
					line-height 30px
					margin-bottom 10px
					display block
					color hsl(230, 40%, 40%)
				.thumb
					display block
				a.msg
					display table
					height 200px
					width 100%
					text-decoration none
					color hsl(180, 40%, 40%)
					font-size 1.2em
					font-weight bold
					*
						display table-cell
						vertical-align middle
						text-align center
			li.new-game
				a
					text-decoration none
				a#home_new_game_str2
					background-color hsl(100, 80%, 80%)
					width 200px
					display block
					text-align center
					span
						display inline-block
						line-height 195px
						height 195px
						vertical-align middle
				
						
	#pendings
		background-color #f7f7f7
		padding 5px 20px
		ul
			li
				padding 5px
				width 23%
				border 1px solid #bbb
				.left
					display inline-block
					overflow hidden
					width 55%
					.user
						font-size 1.4m
						font-weight 100
						padding 5px 0
					.rate
						margin-top .5em
				.attend
					display inline-block
					border-left 1px solid #ddd
					font-size 1.5em
					font-weight bold
					text-decoration none
					color #483c32
					width 42%
					height 4em
					line-height 4em
					text-align center
					vertical-align top
					
	#blogs
		padding 5px 20px
		background-color #fffcf7
		line-height 2em
		ul
			margin-bottom 40px
			li
				display block
				border 1px solid transparent
				padding 10px
				vendor('border-radius', 2px)
				&:hover
					border-color #d9d6cf
					header
						.del
							background-color #ffa07b
							color white	
				header
					margin-bottom .5em
					.del
						float right
						cursor pointer
						padding 3px 8px
						vendor('border-radius', 5px)
					a.author
						color hsl(160, 40%, 40%)
						text-decoration none
						
				article
					.forwarded_blog
						margin-left 2em
					.deleted
						background-color #fafbfb
				footer
					.ts
						font-size .6em
			
			li + li
				margin-top 3px
	#prev_blogs_btn
		cursor pointer
		border-bottom 1px solid black
		margin 1em 5px 1em 20px
		padding-bottom 2px
		display inline-block