#bulletin, #bulletin-local
	color white
	font-size 18px
	border-radius(4px)
	text-align center
	margin-bottom 1em
	width 100%
	display table
	min-height 4em
	& > *
		vertical-align middle
		display table-cell
	a
		cursor pointer
		text-decoration underline
#bulletin
	background-color hsla(340, 70%, 40%, .8)
	.init_attending
		font-size 1.2em
		a
			text-decoration none
			border-bottom 1px solid white
			color white
	#finishing
		padding 20px 10px
		ul#regiments
			display block
			li
				display block
				margin-bottom 15px
				.guess
					display inline-block
					a
						text-decoration none
					a.selected
						background-color rgba(0,255,125,.3)
						cursor auto
					a.opponent-selected
						border 1px solid green
					a.default
						background-color rgba(0,125,255,.3)
			li.disagree
				border 1px solid black
	
	#retract
		display table-cell
		cursor pointer
		i
			width 20px
			height 20px
			background-size 100% 100%
			display inline-block
			background-repeat no-repeat
			background-image url(/img/icons/undo.svg)
	a.user
		color hsl(220, 50%, 50%)
		text-decoration none
		
#bulletin-local
	background-color hsla(160, 70%, 40%, .8)