#bulletin
	font-size 18px
	background-color rgba(237, 190, 200, .8)
	border-radius(10px)
	text-align center
	min-height 120px
	margin-bottom 50px
	width 100%
	display table
	& > *
		vertical-align middle
		display table-cell
	a
		cursor pointer
		text-decoration underline
	#finishing
		padding 20px 10px
		ul#regiments
			display block
			
			li
				.guess
					display inline-block
					a
						text-decoration none
					a.selected
						background-color rgba(0,255,125,.3)
						cursor auto
					a.opponent-selected
						border 1px solid green
					a.default
						background-color rgba(0,125,255,.3)
			li.disagree
				border 1px solid black