@import "board"
@import "game/bulletin"

#game-view-outer
	background white
	#game-view
		display inline-block
		width 60%
		min-width 600px
		vertical-align top
		header
			h1#game-caption
				font-size 1em
			a#try
				cursor pointer
				
		#gaming-board
			//margin-left margin_left
		a#details-link
			padding 3px
			margin-left 50px
		#details
			margin-top 50px
		#try
			i	
				width 20px
				height 20px
				background-size 100% 100%
				display inline-block
				background-repeat no-repeat
				background-image url(/img/icons/palm.svg)
	aside
		margin-top 1em
		display inline-block
		width 35%
		#buttons
			margin .5em 0
			a
				display inline-block
				cursor pointer
				border-radius(10px)
				width 20%
				height 30px
				line-height 30px
				i
					width 20px
					height 20px
					background-size 100% 100%
					display inline-block
					background-repeat no-repeat
			a.invalid
				color: #aaa
				cursor auto
			a#back.invalid, a#forward.invalid, a#beginning.invalid, a#ending.invalid
				background-color #aaa
			#num_btn
				i
					padding 0px 16px
					background url(/img/icons.svg) no-repeat
					background-position 0 -16px
			#back
				i
					background-image url(/img/icons/arrow.svg)
					vendor('transform', rotate(180deg))
			#forward
				i
					background-image url(/img/icons/arrow.svg)
			#ending
				i
					background-image url(/img/icons/arrow2.svg)
			#beginning
				i
					background-image url(/img/icons/arrow2.svg)
					vendor('transform', rotate(180deg))
			
		#comments
			.comment
				display inline-block
				vertical-align top
				margin 0 .5em .5em 0
				width 10em
				.step, .ts
					font-size .6em
					display none
				.del
					cursor pointer
					float right
					padding .5em
					visibility hidden
				.author
					font-size .6em
					color #e28702
				article
					font-size 1.1em
					div
						margin .4em .4em .4em 0
					
			a#previous_comments
				display block
				height 30px
				margin 10px auto 0 auto
				width 80%
		#pub
			#ss
				em
					font-size .4em
					color #de3263