@import "board"
@import "game/toolbox"
@import "game/bulletin"

#game-view-outer
	background white
	#game-view
		display inline-block
		width 60%
		min-width 600px
		vertical-align top
		
		margin_left = 10%
		h1#game-caption
			font-size 16px
			margin-left margin_left
		#gaming-board
			margin-left margin_left
		a#details-link
			padding 3px
			margin-left 50px
		#details
			margin-top 50px
	aside
		display inline-block
		width 35%

