#toolbox
	border-radius(10px)
	width 50px
	text-align left
	//padding 5px
	#num_btn
		i
			padding 0px 16px
			background url(/img/icons.svg) no-repeat
			background-position 0 -16px
	#num_btn.show_num
		i
			background-position 0 0
	a
		display inline-block
		cursor pointer
		border-radius(10px)
		&:hover
			background-color #a8ceff
			text-decoration none
	a.invalid
		color: #aaa
		cursor auto
	a#back.invalid, a#forward.invalid, a#beginning.invalid, a#ending.invalid
		background-color #aaa